[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "mvrsquared"]
	path = mvrsquared
	url = https://github.com/tommyjones/mvrsquared
[submodule "textmineR"]
	path = textmineR
	url = https://github.com/tommyjones/textminer
[submodule "tidylda"]
	path = tidylda
	url = https://github.com/tommyjones/tidylda
